<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RpChat"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity-alias
            android:name=".LauncherDefault"
            android:targetActivity=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/identity_default"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherNotes"
            android:targetActivity=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher_notes"
            android:roundIcon="@mipmap/ic_launcher_notes_round"
            android:label="@string/identity_notes"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherCalc"
            android:targetActivity=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher_calc"
            android:roundIcon="@mipmap/ic_launcher_calc_round"
            android:label="@string/identity_calc"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherWeather"
            android:targetActivity=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher_weather"
            android:roundIcon="@mipmap/ic_launcher_weather_round"
            android:label="@string/identity_weather"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.CropAvatarActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.NewChatActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MediaViewerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CharacterProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CreateGroupActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GroupChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.GroupProfileActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
